.card {
    border: 7px solid rgb(215, 253, 71);
    border-radius: 5px;
    box-sizing: border-box;
    width: 214px;
    font-weight: 100;
}

.card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px #3ba054;
    transition: 0.2s;
} 

.card:active {
    box-shadow: inset 5px 5px rgb(105, 128, 24);
}

.card img {
    width: 200px;
    border-radius: 5px;
}

.name {
    padding: 10px;
    text-align: center;
    margin-top: 0px;
    background-color: rgb(215, 253, 71);
}

